.header {
  background-color: #0397c5;
}

.logo {
  font-size: 20px;
  margin-left: 50px;
}

.navbar {
  text-align: right;
}

.navbar ul li {
  display: inline;
  margin-right: 50px;
  font-size: x-large;
}

.topimg {
  width: 100%;
}

.topscript {
  margin-left: 100px;
  margin-right: 100px;
}

.footer {
  background-color: #0397c5;
}

.copyright {
  margin-left: 50px;
}

.company, .business, .student, .contact {
  text-align: center;
  font-size: 50px;
}